$primary: orangered;
$dark: rgb(3, 16, 26);
$light: rgb(60, 59, 59);

$box-shadow: .3rem .3rem 0.6rem rgba(black, .4);

$nav-link-padding-y: 0;
$nav-link-padding-x: 0;
$nav-link-font-size: null;
$nav-link-font-weight: null;
$nav-link-hover-color: $primary;
$nav-link-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

$nav-tabs-border-color: $primary;
$nav-tabs-border-width: 0;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: transparent;

$modal-content-bg: rgb(29, 27, 27);
$modal-content-border-radius: 20px;
$modal-backdrop-opacity: .9;
$modal-header-border-color: transparent;
$modal-header-border-width: 0;

.modal {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    height: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70% !important;
    margin: auto;
}

.modal-body {
    height: 75% !important;

}

.project-img-div {
    height: 70%;
}

.modal-body img {
    height: 350px;
    object-fit: cover;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: none !important;
}

$btn-close-color: white;

$btn-close-focus-shadow: none;
$btn-close-opacity: 1;
$btn-close-hover-opacity: 1;
$btn-close-focus-opacity: 1;
$btn-close-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");


html {
    overflow-x: hidden;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    background: $dark;
    color: white;
}

body:before {
    content: "";
    overflow-x: hidden;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    background: linear-gradient(orange, red);
    transform: skew(-15deg);
    transform-origin: bottom;
}

::-webkit-scrollbar {
    display: none;
}

.nav-container {
    position: fixed;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    z-index: 2;
}

.first-tab {
    height: 100%;
}

.card {
    background-color: $dark  !important;
}

.tab a {
    cursor: pointer;
    z-index: 1;
}

.tab a.active i {
    background-color: orangered;
}

.tabcontent {
    animation: fadeEffect 2s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        width: 50%;
    }

    to {
        opacity: 1;
        width: 90%;
    }
}

.mode-container div {
    position: fixed;
    top: 2rem;
    z-index: 1;
    left: 2.5rem;
    background-color: rgba($color: whitesmoke, $alpha: 0.3);
    border-radius: 50%;
    transition: background-color 0.3s linear;
}

.mode-container div:hover {
    background-color: rgba($color: whitesmoke, $alpha: 0.4);
}

.fixed-bottom {
    background-color: $light;
}

.img-div {
    height: 90%;
}

.img-div div {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.nav-items {
    text-align: center;
    width: 100%;
    z-index: 1;
}

.nav-i {
    background-color: rgb(76, 75, 75);
}

.show-i-bg {
    animation: showIBg 0.25s linear;
    background-color: $primary;
}

@keyframes showIBg {
    from {
        background-color: rgb(76, 75, 75);
    }

    to {
        background-color: $primary;
    }
}

.hide-i-bg {
    animation: hideIBg 0.4s linear;
    background-color: rgb(76, 75, 75);
}

@keyframes hideIBg {
    from {
        background-color: $primary;
    }

    to {
        background-color: rgb(76, 75, 75);
    }
}

.opennewbg {
    animation: showNav 0.5s linear;
    width: 100%;
    background-color: $primary;
}


@keyframes showNav {
    from {
        background-color: transparent;
        width: 0%;
    }

    to {
        background-color: $primary;
        width: 100%;
    }
}

.closenewbg {
    animation: hideNav 0.5s linear;
    width: 0%;
    background-color: transparent;
}

@keyframes hideNav {
    from {
        background-color: $primary;
        width: 100%;
    }

    to {
        background-color: transparent;
        width: 0%;
    }
}

.more {
    width: 13.5rem;
}

.more a:hover {
    animation: showMoreBg 0.5s linear;
    background-color: $primary;
}

@keyframes showMoreBg {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: $primary;
    }
}

footer .tab a {
    cursor: default;
}

footer i {
    padding: 8px 12px;
    background-color: rgb(91, 87, 87);
    cursor: pointer;
}

footer .tab a.active i,
footer i:hover {
    animation: footerNavBg 0.7s;
    background-color: orangered;
}

@keyframes footerNavBg {
    from {
        background-color: rgb(91, 87, 87);
    }

    to {
        background-color: orangered;
    }
}


//about page
.line {
    width: 2rem;
    background-color: gray;
    height: 0.5px;
}

#aboutpage h1,
#portfoliopage h1 {
    text-shadow: 5px 5px 3px rgb(58, 58, 58);
}

.personal p {
    display: flex;
}

.skills,
.experience {
    margin-top: 9rem;
}

.skills h5,
.experience h5 {
    margin-left: -15rem;
}

.skills ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 0;
    }
}

.hori-line {
    width: 0.6px;
    background-color: rgba($primary, 0.3);
    height: 6rem;
}


//portfolio page

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: transparent !important;
    color: $primary  !important;
    border: none !important;
    outline: none !important;
}

#portfoliopage .card {
    overflow: hidden;
    border-radius: 10px !important;
    border: 0;
    animation: showPortfolioImages 1s;

    img {
        height: 230px;
        object-fit: cover;
    }
}

@keyframes showPortfolioImages {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#portfoliopage .card:hover {
    cursor: pointer;
}

.diff-col {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($primary, 1);
    opacity: 0;
    z-index: 2;
    transition: all ease-in-out 0.5s;
}

#portfoliopage .card:hover .diff-col {
    opacity: 1;
}

#portfoliopage .card img {
    transform: scale(1);
    z-index: 1;
    transition: all ease-in-out 0.5s;
}

#portfoliopage .card:hover img {
    transform: scale(1.1);
    filter: blur(1px);
}

.diff-col h5 {
    text-align: center;
    position: absolute;
    bottom: 100%;
    width: 100%;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

#portfoliopage .card:hover .diff-col h5 {
    bottom: 40%;
    opacity: 1;
}


@keyframes shownewbg {
    0% {
        opacity: 0;
        height: 0;
    }

    50% {
        height: 50%;
        opacity: 0;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}

#portfoliopage .tab-pane {
    border: none;
    outline: none;
}



@media (max-width: 1200px) {
    .personal p {
        display: flex;
        flex-direction: column;
    }

    .mode-container div {
        top: 1rem;
        left: 1.5rem;
    }

    .modal-dialog {
        width: 700px !important;
        max-width: 700px !important;
    }

    .modal-body img {
        height: 300px;
    }
}

@media (max-width: 992px) {

    body,
    html {
        height: 50rem;
    }

    body:before {
        content: "";
        overflow-x: hidden;
        position: static;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        background: black;
        transform: none;
    }

    .mode-container div {
        top: 1rem;
        left: 1rem;
    }

    .intro-text {
        height: 60%;
    }

    .img-div {
        height: 16.375rem;
        width: 16.375rem;
        margin: 0 auto;
    }

    .img-div div {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
    }

    .img-div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    //about page
    .skills,
    .experience {
        margin-top: 9rem;
    }

    .skills h5,
    .experience h5 {
        margin-left: 0;
    }

    .personal p {
        display: flex;
        flex-direction: row;
    }

    //portfolio

    .modal-dialog {
        width: 600px !important;
        max-width: 600px !important;
    }

    .modal-body {
        width: 100% !important;
    }
}

@media (max-width: 768px) {
    .modal-dialog {
        width: 500px !important;
        max-width: 500px !important;
    }

    .modal-body img {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .img-div {
        height: 13.875rem;
        width: 13.875rem;
        margin: 0 auto;
    }

    //about page

    .personal p {
        display: flex;
        flex-direction: column;
    }

    //portfolio page
    .modal-dialog {
        margin: auto !important;
        width: 400px !important;
        max-width: 400px !important;
    }

    .modal-body img {
        height: 200px;
    }
}

@media (max-width: 430px) {
    .modal-dialog {
        width: 100% !important;
        max-width: 100% !important;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap";